.picker  .type_wn {
    background-image: url(../img/wn.png);
}
.cell .wn .bubble {
    background-image: url(../img/wn.png);
}
.picker  .type_pn {
    background-image: url(../img/pn.png);
}
.cell .pn .bubble {
    background-image: url(../img/pn.png);
}
.picker  .type_fn {
    background-image: url(../img/fn.png);
}
.cell .fn .bubble {
    background-image: url(../img/fn.png);
}
.picker  .type_sn {
    background-image: url(../img/sn.png);
}
.cell .sn .bubble {
    background-image: url(../img/sn.png);
}
.picker  .type_wb {
    background-image: url(../img/wb.png);
}
.cell .wb .bubble {
    background-image: url(../img/wb.png);
}
.picker  .type_wb2 {
    background-image: url(../img/wb2.png);
}
.cell .wb2 .bubble {
    background-image: url(../img/wb2.png);
}
.picker  .type_pb {
    background-image: url(../img/pb.png);
}
.cell .pb .bubble {
    background-image: url(../img/pb.png);
}
.picker  .type_pb2 {
    background-image: url(../img/pb2.png);
}
.cell .pb2 .bubble {
    background-image: url(../img/pb2.png);
}
.picker  .type_fb {
    background-image: url(../img/fb.png);
}
.cell .fb .bubble {
    background-image: url(../img/fb.png);
}
.picker  .type_fb2 {
    background-image: url(../img/fb2.png);
}
.cell .fb2 .bubble {
    background-image: url(../img/fb2.png);
}
.picker  .type_sb {
    background-image: url(../img/sb.png);
}
.cell .sb .bubble {
    background-image: url(../img/sb.png);
}
.picker  .type_sb2 {
    background-image: url(../img/sb2.png);
}
.cell .sb2 .bubble {
    background-image: url(../img/sb2.png);
}
.picker  .type_s {
    background-image: url(../img/s.png);
    background-size: 72px 64px;
}
.cell .s .bubble {
    background-image: url(../img/s.png);
    background-size: 110px 95px;
}
.picker  .type_t {
    background-image: url(../img/t.png);
}
.cell .t .bubble {
    background-image: url(../img/t.png);
}
.picker  .type_g {
    background-image: url(../img/g.png);
    background-size: 96px 84px;
}
.cell .g .bubble {
    background-image: url(../img/g.png);
    background-size: 110px 95px;
}
.picker  .type_r {
    background-image: url(../img/r.png);
    background-size: 72px 64px;
}
.cell .r .bubble {
    background-image: url(../img/r.png);
    background-size: 110px 95px;
}
.picker  .type_p {
    background-image: url(../img/p.png);
    background-size: 72px 64px;
}
.cell .p .bubble {
    background-image: url(../img/p.png);
    background-size: 110px 95px;
}
.picker  .type_p_2 {
    background-image: url(../img/p_2.png);
    background-size: 72px 64px;
}
.cell .p_2 .bubble {
    background-image: url(../img/p_2.png);
    background-size: 110px 95px;
}
.picker  .type_p_3 {
    background-image: url(../img/p_3.png);
    background-size: 72px 64px;
}
.cell .p_3 .bubble {
    background-image: url(../img/p_3.png);
    background-size: 110px 95px;
}
.picker  .type_f {
    background-image: url(../img/f.png);
}
.cell .f .bubble {
    background-image: url(../img/f.png);
}
.picker  .type_f_2 {
    background-image: url(../img/f_2.png);
}
.cell .f_2 .bubble {
    background-image: url(../img/f_2.png);
}
.picker  .type_f_1 {
    background-image: url(../img/f_1.png);
}
.cell .f_1 .bubble {
    background-image: url(../img/f_1.png);
}
.picker  .type_pball {
    background-image: url(../img/pball.png);
}
.cell .pball .bubble {
    background-image: url(../img/pball.png);
    background-size: 104px 104px;
}
.picker  .type_pbhole {
    background-image: url(../img/pbhole.png);
}
.cell .pbhole .bubble {
    background-image: url(../img/pbhole.png);
    background-size: 104px 104px;
}
.picker  .type_E {
    background-image: url(../img/E.png);
}
.cell .E .bubble {
    background-image: url(../img/E.png);
}
.picker  .type_E1 {
    background-image: url(../img/E1.png);
}
.cell .E1 .bubble {
    background-image: url(../img/E1.png);
}
.picker  .type_E2 {
    background-image: url(../img/E2.png);
}
.cell .E2 .bubble {
    background-image: url(../img/E2.png);
}
.picker  .type_E3 {
    background-image: url(../img/E3.png);
}
.cell .E3 .bubble {
    background-image: url(../img/E3.png);
}
.picker  .type_E4 {
    background-image: url(../img/E4.png);
}
.cell .E4 .bubble {
    background-image: url(../img/E4.png);
}
.picker  .type_EE {
    background-image: url(../img/base.png);
    background-size: 72px 64px;
}
.picker  .type_n {
    background-image: url(../img/n.png);
}
.picker  .type_i {
    background-image: url(../img/i.png);
}
.cell [fore=i] .fore {
    background-image: url(../img/i.png);nil
}
.picker  .type_ab {
    background-image: url(../img/ab.png);
}
.cell [fore=ab] .fore {
    background-image: url(../img/ab.png);nil
}
.picker  .type_d {
    background-image: url(../img/d.png);
}
.cell [back=d] .back {
    background-image: url(../img/d.png);nil
}
