/* Todo List
用bootstrap更新所有图标等的美术效果*/

.param_item {
    float:left;
    margin: 5px;
}


.cell .img {
    position: absolute;
    height: 104px;
    width: 120px;
    background-position: center;
    background-repeat: no-repeat;
}



.cell .bg {
    background-image: url("../img/base.png");
    background-size: 120px 104px;
}

.cell .n .bg {
    background-image: url("../img/base_n.png");
    background-size: 120px 104px;
}

.cell .back {
    /*background-image: url("../img/d.png");*/
    background-size: 130px 130px;
}

.cell .bubble {
    background-size: 76px 76px;
}

.cell .fore {
    /*background-image: url("../img/i.png");*/
    background-size: 118px 106px;
}

.cell_row {
    clear: left;  /*左侧不允许出现其他浮动物体（保证左边对齐）*/
}

.cell_env {
    clear: left;
    height: 400px;
    width: 500px;
    overflow: hidden; /*当超出页面时隐藏(hidden)、滚动轴(scroll)*/
}

.cell.odd {
    margin-top: 53px;
}

.cell {
    float: left;
    margin-right: -26px;
    margin-bottom: -50px;
}

.cell .left, .cell .middle, .cell .right { /* use background image to replace it*/
    visibility: hidden;
}

.cell .left {
    float: left;
    width: 0;
    border-right: 30px solid;
    border-right-color: #D2B48C;  /**/
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
    /*background-image: url(http://placekitten.com/200/305);*/
}
.cell .middle {
    float: left;
    width: 62px;
    height: 104px;
    background-color: #D2B48C;  /**/
    position: relative;
    left: -1px;
}
.cell .right {
    float: left;
    width: 0;
    border-left: 30px solid;
    border-left-color: #D2B48C; /**/
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
    position: relative;
    left: -2px;
}


/*
cell type picker


.picker {
    height: 200px;
    width: 1000px;
}
*/
.picker {
    clear: both;
    height: 210px;
    overflow: auto;
}
.picker .type_cover {
    float: left;
    height: 84px;
    width: 84px;
    margin: 5px;
}

.picker .type_cover_selected {
    background-color: #CCCCCC;
}

.picker .type {
    height: 72px;
    width: 72px;
    position: relative;
    left: 6px;
    top: 6px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 72px 72px;
}


.drop .dr_item {
    float: left;
    margin: 5px;
}

.drop .txt_dr {
    float: left;
}

.drop .img_dr {
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
}

.drop .img_dr.wn {
    background-image: url(../img/wn.png);
}
.drop .img_dr.pn {
    background-image: url(../img/pn.png);
}
.drop .img_dr.fn {
    background-image: url(../img/fn.png);
}
.drop .img_dr.sn {
    background-image: url(../img/sn.png);
}


.drop .txt_dr:read-only {
    /*visibility: hidden;*/
    color: #808080;
    background-color: #C0C0C0;
}
.drop .txt_dr:-moz-read-only {
    /*visibility: hidden;*/
    color: #808080;
    background-color: #C0C0C0;
}

.menu {
    clear: both;
}

/*
#btn_gen {
    background-image: url(../img/s.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    background-color: transparent;
}

#btn_gen:focus  {
    background-image: url(../img/sn.png);
    background-repeat: no-repeat;
}
*/
/*
.picker .type_cover:hover {
    background-color: #EEEEEE;
}
*/

/*
#c_1_1 {
    visibility: hidden;
}
*/